<!doctype html>
<html>
<head>
	<title>Python Flask File(s) Upload Example</title>
	<script type="text/javascript" src="https://code.jquery.com/jquery-3.4.1.min.js"></script>
	<script type="text/javascript">
		$(document).ready(function (e) {
			$('#upload').on('click', function () {
				var form_data = new FormData();
				var ins = document.getElementById('multiFiles').files.length;


				if(ins == 0) {
					$('#msg').html('<span style="color:red">Select at least one file</span>');
					return;
				}
                for (var x = 0; x < ins; x++) {
					form_data.append("files[]", document.getElementById('multiFiles').files[x]);
				}

				$.ajax({
					url: 'python-flask-files-upload', // point to server-side URL
					dataType: 'json', // what to expect back from server
					cache: false,
					contentType: false,
					processData: false,
					data: form_data,
					type: 'post',
					success: function (response) { // display success response
						$('#msg2').html('');
						$.each(response, function (key, data) {
							if(key !== 'message') {
								$('#msg2').append(key + ' -> ' + data + '<br/>');
							} else {
								$('#msg2').append(data + '<br/>');
							}
						})
					},
					error: function (response) {
						$('#msg2').html(response.message); // display error response
					}
				});
			});
		});
	</script>
	<script type="text/javascript">
		$(document).ready(function (e) {
			$('#upload').on('click', function () {
				var form_data = new FormData();
				var ins = document.getElementById('multiFile').files.length;


				if(ins == 0) {
					$('#msg').html('<span style="color:red">Select at least one file</span>');
					return;
				}
                for (var x = 0; x < ins; x++) {
					form_data.append("files[]", document.getElementById('multiFile').files[x]);
				}

				$.ajax({
					url: 'python-flask-files-upload1', // point to server-side URL
					dataType: 'json', // what to expect back from server
					cache: false,
					contentType: false,
					processData: false,
					data: form_data,
					type: 'post',
					success: function (response) { // display success response
						$('#msg1').html('');
						$.each(response, function (key, data) {
							if(key !== 'message') {
								$('#msg1').append(key + ' -> ' + data + '<br/>');
							} else {
								$('#msg1').append(data + '<br/>');
							}
						})
					},
					error: function (response) {
						$('#msg1').html(response.message); // display error response
					}
				});
			});
		});
	</script>
	<script type="text/javascript">
		$(document).ready(function (e) {
			$('#upload1').on('click', function () {
				var form_data = new FormData();
				var ins = document.getElementById('multiFilee').files.length;


				if(ins == 0) {
					$('#msg').html('<span style="color:red">Select at least one file</span>');
					return;
				}
                for (var x = 0; x < ins; x++) {
					form_data.append("files[]", document.getElementById('multiFilee').files[x]);
				}

				$.ajax({
					url: 'python-flask-files-upload2', // point to server-side URL
					dataType: 'json', // what to expect back from server
					cache: false,
					contentType: false,
					processData: false,
					data: form_data,
					type: 'post',
					success: function (response) { // display success response
						$('#msg').html('');
						$.each(response, function (key, data) {
							if(key !== 'message') {
								$('#msg').append(key + ' -> ' + data + '<br/>');
							} else {
								$('#msg').append(data + '<br/>');
							}
						})
					},
					error: function (response) {
						$('#msg').html(response.message); // display error response
					}
				});
			});
		});
	</script>
</head>
<body style="padding: 15px;background-color: lightskyblue;"> 
	<div>
		<h1>Qualidex</h1>
	</div>
    <div style="border: 1px solid #ffff; background: lightcyan;padding: 40px;">
		<h2>PDF Files Comparitor</h2>

		<dl>
		<p>
			<p id="msg"></p>
			<h3>Select Pdf files and upload</h3>
		    <input style="font-size: 20px;", type="file" type="file" id="multiFilee" name="files[]" multiple="multiple"/>
			<button style="background: #17987e;color: white;font-size: 20px;border-radius: 5px;" id="upload1">Upload</button>
		</p>
	    </dl>
		<h3>Select two files to compare</h3>
		<dl>
			<p>
			<p id="msg1"></p>
		    	<input style="font-size: 20px;", type="file" id="multiFiles" name="files[]" multiple="multiple"/>
		    	<input style="font-size: 20px;", type="file" id="multiFile" name="files[]" multiple="multiple"/>
				<button style="background: #17987e;color: white;font-size: 20px;border-radius: 5px;" id="upload">Continue</button>
			</p>
		</dl>

		
	<h3>Click Run to compare your files</h3>

<head><title>Test</title>
    <meta charset=utf-8> </head>
   	 	<body>
       		 <form action="/run-script">
           		 <input style="background: green;color: white;font-size: 20px;border-radius: 5px; width: 65px; text-align: center;" type="submit" value="Run" />
       		 </form>

    	</body>
	</div>
</body>

<body>
	<h1> Click below button for HTML report </h1>
    <form action="/open_folder">
            <input style="background: blueviolet;color: white;font-size: 20px;border-radius: 5px; width: 150px; text-align: center;" type="submit" value="Open_Folder" />
     </form>
</body>



